    <div class="container">
        <header id="app-header" class="app-header" style="padding-top: 6%;">  
          <div class="header-content">
            <div id="small-toolbar" class="app-toolbar" style="padding-left: 2%;">
                <div class="row">
                    <div class="col-md-12">
                        <mat-card-title style="font-size: 70px;">{{project.title}}<br></mat-card-title>
                    </div>
                    <div class="col-md-12" style=" padding-top: 3%">
                        <mat-card-subtitle style="font-size: 22px;">{{project.subtitle}}</mat-card-subtitle>
                    </div>
                </div>
            </div>
          </div>
        </header>
        <div class="container" style="padding-top: 3%; padding-left: 2.3%;">
            <section class="example-section">
                    <mat-form-field appearance="outline" style="width: 25%;" >
                        <mat-label>Search</mat-label>
                        <input matInput>
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <mat-checkbox class="example-margin" style="padding-left: 10%;padding-right: 41.3%;">
                        {{project.checkbox}}
                    </mat-checkbox>

                    <a mat-raised-button href="https://www.google.com/" target="_blank" style="width: 100px;">
                        <mat-icon>add</mat-icon>
                        <b>
                            Add
                        </b>
                    </a>

            </section>
        </div>
        <div class="card" *ngFor="let tool of tools">
            <div style="position: absolute; padding-left: 90%;">
                <button type="button" class="close" aria-label="Close" style="width: 80px;" 
                (click)="openDialog(tool.id)">
                    <span aria-hidden="true" style="position: absolute;padding-top: 0.3%;">&times;</span>
                    <label style="padding-left: 30%; font-size: 15px;cursor: pointer;color: black;">remove</label>
                </button>
              </div>
            <div class="card-title"><a href="tool.link" style="text-decoration: underline;">{{tool.title}}</a></div>
            <div class="card-subtitle">{{tool.description}}</div>
            <div class="row horizontal" style="padding-top: 2%;">
                <div class="card-subtitle" *ngFor="let tag of tool.tags"><b>#{{tag}}</b></div>
            </div>
        </div>
    </div>