* {
    box-sizing: border-box;
  }

  .horizontal {
    display: flex;
    justify-content: space-evenly;
}

  .card {
    padding: 16px;
    margin: 24px;
    border-radius: 2px;
    background-color: #fff;
    color: rgba(65, 48, 48, 0.87);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  
  .card .card-title {
    padding: 15px 0px 1px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }